@page
@model DeleteModel
@{
    ViewData["Title"] = "List Jobs";
}

<!-- ========== section start ========== -->
<section class="section">
    <div class="container-fluid">
        <!-- ========== title-wrapper start ========== -->
        <div class="title-wrapper pt-30">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="title mb-30">
                    </div>
                </div>
                <!-- end col -->
                <div class="col-md-6">
                    <div class="breadcrumb-wrapper mb-30">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- ========== title-wrapper end ========== -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card-style mb-30">
                    @*Start*@

                    <div class="account-login section">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 col-12">
                                    <form class="card login-form" method="post">
                                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                        <div class="card-body">
                                            <div class="title">
                                                <h3>Xác nhận xóa</h3>
                                                <p>
                                                    Xác nhận xóa abc?
                                                </p>
                                            </div>
                                            <div class="button">
                                                <button class="btn" type="submit">Xóa</button>
                                                <hr />
                                                <a class="btn btn-primary" asp-page="./Index">Trở lại</a>
                                            </div>

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*End*@
                    <!-- End Chart -->
                </div>
            </div>
            <!-- End Col -->
        </div>
        <!-- End Row -->
    </div>
    <!-- end container -->
</section>
<!-- ========== section end ========== -->